# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodeCoverage.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hassan\Desktop\.Net projects\Project01_ASP.NET_MVC\CodeCoverage\.idea\.idea.CodeCoverage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
